body {
  margin: 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  font-weight: 400;

  background-color: #f3f7f8;
  background-position: top center;
}

a {
text-decoration: none;
}

.header-up {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #32425c;
}

.main-header-logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.search-inside-form input{
 background-color: #32425c;
 border: none;
}

.search-inside-form input:hover,
.search-inside-form input:focus {
  background-color: #212a3a;
}

.search-inside-form input:active {
  background-color: #ffffff;
}

.bookmarks {
  color: #ffffff;
}

.bookmarks:hover,
.bookmarks:focus {
  background-color: #212a3a;
}

.bookmarks:active {
  color: #babbbd;

  background-color: #161d29;
}

.stash {
  color: #ffffff;
}

.stash:hover,
.stash:focus {
  background-color: #212a3a;
}

.stash:active {
  color: #babbbd;

  background-color: #161d29;
}

.btn-order {
  color: #ffffff;

  background-color: #63a63e;
}

.btn-order:hover,
.btn-order:focus {
  background-color: #5fbb2d;
}

.btn-order:active {
  background-color: #518534;
}


.header-mid {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  background-color: #f2f6f8;
}

.title-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.btn-phone {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643;

  background-color: #f3f7f9;
  border: 3px solid #ffffff;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
}

.access {
  list-style: none;
}

.btn-access,
.btn-registration {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.btn-access:hover,
.btn-access:focus {
  color: #ee3643;
}

.btn-registration:hover,
.btn-registration:focus {
  color: #ee3643;
}

.btn-access:active,
.btn-registration:active {
  color: #cacaca;
}

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: #32425c;

  list-style: none;
}
.site-navigation a{
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449
}

.site-navigation a:active {
  color: #a8abaf;

  background-color: #1d2739;
}

.information {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.information h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.information p{
  font-family: 'PT Sans', sans-serif;
}

.list-about {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;

  list-style: none;
}

.list-about li:before {
  content: "—";
  position: relative;
  left: -5px;
}

.btn-about-1,
.btn-about-2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.btn-about-1:hover,
.btn-about-1:focus {
  background-color: #ca2c37;
}

.btn-about-1:active {
  background-color: #ba2732;
}

.btn-about-2:hover,
.btn-about-2:focus {
  background-color: #ca2c37;
}

.btn-about-2:active {
  background-color: #ba2732;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #32425c;
}

.main-footer-logo {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  background-color: #ca2c37;
}

.main-footer-logo:active {
  background-color: #ba2732;
}
.footer-navigation-first,
.footer-navigation-second {
  list-style: none;
}

.footer-navigation-first a,
.footer-navigation-second a {
  color: inherit;
}

.footer-navigation-second {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffd180;
}

.footer-navigation-first a:hover,
.footer-navigation-first a:focus {
  text-decoration: underline;
}

.footer-navigation-second a:hover,
.footer-navigation-second a:focus {
  text-decoration: underline;
}

.footer-navigation-first a:active {
  color: #a4abb4;
}

.footer-navigation-second a:active {
  color: #ad956f;
}

.footer-down {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
}

.feedback,
.feedback-a {
  list-style: none;
}

.feedback-a {
  color: #f5c97d
}

.feedback-a a {
  color: inherit;
}

.feedback-a a:hover,
.feedback-a a:focus {
  text-decoration: underline;
}

.feedback-a a:active {
  color: #ee3643;
}




/*дальше идет catalog.html*/

.breadcrumbs {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  list-style: none;

  background-color: #ffffff;
}

.breadcrumbs a{
  color: black;
}
.page-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;

  background-color: #f2f6f8;
}
.filter {
  background-color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}
.filter fieldset {
  border: none;
}

legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform:uppercase;
}
.filter-input + label {
  color: #000000;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.btn-show {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.goods div {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.goods-each-header {
  font-family: 'PT Sans', sans-serif;
}

.each-price {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
  text-decoration: line-through;
}

.button-goods-basket {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #63a63e;
}

.button-goods-basket:hover,
.button-goods-basket:focus {
  background-color: #5fbb2d;
}
.button-goods-basket:active{
  background-color: #518534;
}

.button-goods-bookmark {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  background-color: #ffffff;
  border: 3px #63a63e;
}
.button-goods-bookmark:hover,
.button-goods-bookmark:focus {
  border:1px solid #32425c;
}
.button-goods-bookmark:active{
  border:1px solid #32425c;
  opacity: 0.3;
}

.button-goods-buy {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}
