body {
  margin: 0;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  font-weight: 400;

  background-color: #ffffff;
  background-position: top center;
}

a {
text-decoration: none;
}

.visually-hidden {
   position: absolute;
   clip: rect(0 0 0 0);
   width: 1px;
   height: 1px;
   margin: -1px;
}

.header-up {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #32425c;
}

.main-header-logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.search-inside-form input{
 background-color: #32425c;
 border: none;
 width: 100%;
}

.search-inside-form input:hover,
.search-inside-form input:focus {
  background-color: #212a3a;
}

.search-inside-form input:active {
  background-color: #ffffff;
}

.bookmarks {
  color: #ffffff;
}

.bookmarks:hover,
.bookmarks:focus {
  background-color: #212a3a;
}

.bookmarks:active {
  color: #babbbd;

  background-color: #161d29;
}

.stash {
  color: #ffffff;
}

.stash:hover,
.stash:focus {
  background-color: #212a3a;
}

.stash:active {
  color: #babbbd;

  background-color: #161d29;
}

.btn-order {
  color: #ffffff;

  background-color: #63a63e;
}

.btn-order:hover,
.btn-order:focus {
  background-color: #5fbb2d;
}

.btn-order:active {
  background-color: #518534;
}


.header-mid {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  background-color: #f2f6f8;
}

.title-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.btn-phone {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #ee3643;

  background-color: #f3f7f9;
  border: 3px solid #ffffff;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425c;
}

.access {
  list-style: none;
}

.btn-access,
.btn-registration {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.btn-access:hover,
.btn-access:focus {
  color: #ee3643;
}

.btn-registration:hover,
.btn-registration:focus {
  color: #ee3643;
}

.btn-access:active,
.btn-registration:active {
  color: #cacaca;
}

.site-navigation {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: #32425c;

  list-style: none;
}
.site-navigation a{
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449
}

.site-navigation a:active {
  color: #a8abaf;

  background-color: #1d2739;
}

.information {
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.information h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.information p{
  font-family: 'PT Sans', sans-serif;
}

.list-about {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-about li:before {
  content: "—";
  position: relative;
  left: -5px;
}

.btn-about-1,
.btn-about-2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.btn-about-1:hover,
.btn-about-1:focus {
  background-color: #ca2c37;
}

.btn-about-1:active {
  background-color: #ba2732;
}

.btn-about-2:hover,
.btn-about-2:focus {
  background-color: #ca2c37;
}

.btn-about-2:active {
  background-color: #ba2732;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #32425c;
}

.main-footer-logo {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  background-color: #ca2c37;
}

.main-footer-logo:active {
  background-color: #ba2732;
}
.footer-navigation-first,
.footer-navigation-second {
  list-style: none;
}

.footer-navigation-first a,
.footer-navigation-second a {
  color: inherit;
}

.footer-navigation-second {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffd180;
}

.footer-navigation-first a:hover,
.footer-navigation-first a:focus {
  text-decoration: underline;
}

.footer-navigation-second a:hover,
.footer-navigation-second a:focus {
  text-decoration: underline;
}

.footer-navigation-first a:active {
  color: #a4abb4;
}

.footer-navigation-second a:active {
  color: #ad956f;
}

.footer-down {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #293449;
}

.feedback,
.feedback-a {
  list-style: none;
}

.feedback-a {
  color: #f5c97d
}
.feedback {
  margin-bottom: -15px;
}
.feedback-a a {
  color: inherit;
}

.feedback-a a:hover,
.feedback-a a:focus {
  text-decoration: underline;
}

.feedback-a a:active {
  color: #ee3643;
}




/*дальше идет catalog.html*/

.breadcrumbs {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
  list-style: none;

  background-color: #ffffff;
}

.breadcrumbs a{
  color: black;
}
.page-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;

  background-color: #f2f6f8;
}
.filter {
  background-color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}
.filter fieldset {
  border: none;
}

legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform:uppercase;
}
.filter-input + label {
  color: #000000;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}

.btn-show {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-items {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;

}

.catalog-item .actions .button-goods-basket,
.catalog-item .actions .button-goods-bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315;
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;
}

.catalog-item .actions .button-goods-bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.actions .button-goods-basket:hover,
.actions .button-goods-basket:hover {
  background-color: #5fbb2d;
  border:3px solid #5fbb2d;
}
.actions .button-goods-basket:active{
  background-color: #518534;
  border:3px solid #518534;
}

.actions .button-goods-bookmark:hover,
.actions .button-goods-bookmark:focus {
  border:3px solid #32425c;
}
.actions .button-goods-bookmark:active {
  border:3px solid #32425c;
  opacity: 0.3;
}

.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}
.button-goods-buy {
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
}

.catalog-item:nth-child(3n){
    margin-right:0;
}
.catalog-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}

.main-header {
  margin-bottom: 59px;
  min-height: 320px;
  background-color: #f3f7f8;
}

.header-up {
  min-height: 42px;
  margin-bottom: 46px;
  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header-up-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-logo {
  width: 220px;
}

.search-form {
  height:42px;
  width: 270px;
  align-items:center;

}

.search-form form {
  display: block;
  margin-top: 0em;
}

.search-form input{
  width: 100%;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    font-family: "Cuprum","Arial",sans-serif;
    color: #fff;
    background-color: #293449;
    border: none;
}

.bookmarks {
  width: 150px;
  text-align: center;
}

.stash {
  width: 150px;
  text-align: center;
}

.btn-order {
  width: 150px;
  text-align: center;
}



.header-mid {
  min-height: 68px;
  margin-bottom: 10px;
}

.header-mid-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-description {
  width: 300px;
  padding-left: 50px;
}

.mid-mid {
  width: 300px;
}

.access {
  display: flex;
  width: 281px;
  justify-content: space-between;
}

.btn-access {
  width: 121px;
}

.btn-registration {
  width: 150px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 50px;
  list-style: none;
  width: 940px;
  min-height: 60px;
  margin-bottom: 60px;
  box-sizing: border-box;
  align-items: center;
}

.information{
  display: block;
  margin-bottom: 87px;
  color: #000;
  background: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
}

.main-footer {
  min-height: 300px;
}

.main-footer-logo {
  min-height: 70px;
  width: 220px;
}

.footer-navigation-first {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  width: 550px;
  margin: 0;
  padding: 0;
  align-items: flex-end;
  margin-bottom: 10px;
}

.footer-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer-navigation-second {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  width: 520px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: flex-start;
  margin-top: 17px;
}

.footer-mid {
  display: flex;
  justify-content: space-between;
  padding-bottom: 19px;
}

.footer-down-color{
  background-color: #293449;
}

.footer-down {
  display: flex;
  justify-content: space-between;
  min-height: 107px;
  align-items: center;
}

.social-buttons {
  display: flex;
}

.social-buttons li{
  padding-left: 10px;
}

.footer-down ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.communication {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-right: 13px;
}




/*дальше идет catalog.html*/




.page-title {
  margin-bottom: 20px;
  min-height: 89px;
  text-transform: uppercase;
  padding-top: 32px;
  padding-left: 30px;
  margin-top: -20px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 59px;
  margin-top: -40px;
}

.breadcrumbs a {
  padding-left: 10px;
}

.filter {
  width: 220px;
  min-height: 896px;
}

.catalog {
  display: flex;
  justify-content: space-between;
}
.goods {
  width: 700px;
  min-height: 1084px;
}

.catalog-items{
    width:700px;
    margin:20px auto;
}
.catalog-item{
    position:relative;
    display:inline-block;
    width:218px;
    margin-right:20px;
    margin-bottom:20px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item .flag-new{
    background:url("img/new-flag-1.png") no-repeat 0 0;
}

.catalog-item .image{
    width:218px;
    height:168px;
}

.catalog-item .image img{
    max-width:100%;
}

.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}

.title{
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: 'Cuprum','Arial',sans-serif;
}

.catalog-item .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}

.catalog-item .button-goods-buy{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:20px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}

.catalog-item .button-goods-buy:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}

.lost {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Cuprum', serif;
  color: #000000;

  min-height: 430px;
  width: 620px;
  border: 1px red solid;
}
.lost {
  display:none
}

.form-up {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
}

.about-you {
  display: flex;
  min-height: 67px;
  justify-content: space-between;
  margin-bottom: 17px;
  background-color: #ffffff;
}

.name-surname-icon {
  margin-top: 10px;
}

.email-icon {
  margin-top: 10px;
}

.message-icon {
  margin-top: 10px;
}

.message-wrapper {
  min-height: 142px;
  margin-bottom: 37px;
}

.form-down {
  display: flex;
  min-height: 112px;
  background-color: #f4f4f4;
  padding-left: 80px;
  padding-right: 80px;
}

.btn-delivery {
  display: flex;
  align-items: center;
  min-height: 112px;
  width: 460px;
}

.button-delivery {
  width: 460px;
  margin: 0 auto;
  padding: 11px 50px 8px;
  font-size: 14px;
  font-family: "Cuprum","Arial",sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #ee3643;
  outline: none;
  border: none;
  border-radius: 5px;
}

.modal-map {
  display:none
}

.goods-form {
  display:none;
  flex-flow: column;
  justify-content: space-between;
  width: 620px;
  min-height: 283px;
  border: red 1px solid;
  flex-direction: column;
}

.add-goods {
  padding-left: 80px;
  padding-right: 80px;
  color: #000000;
}

.header-add-goods {
 font-size: 30px;
 line-height: 30px;
 font-weight: 400;
}

.header-add-goods-wrapper {
  min-height: 130px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 50px;
}

.goods-buttons {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  min-height: 112px;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}
